.app_export_data_dialog .modal-body {
    display: flex;

    .row {
        flex: 1;
    }

    .app_left_panel, .app_right_panel {

        .app_left_field_panel, .app_right_field_panel {
            user-select: none;

            .app_export_tree_item {
                &:hover:not(.app_expanded) {
                    background: rgba($o-brand-app, .7);
                    color: white;
                }

                &.app_expanded {
                    border-bottom: 1px solid grey;
                    background: rgba($o-brand-app, .2);
                }

                .app_expand_parent {
                    inset: 4px auto auto 0.5em;
                    line-height: inherit;
                }
            }

            .app_export_field_sortable > *:not(.app_remove_field) {
                @include o-grab-cursor;
            }
        }
    }
}
