.app_group_config.show {
    visibility: visible;
}

.app_group_config {
    visibility: hidden;
    @include media-breakpoint-down(md) {
        visibility: visible;
    }
}

.app-dropdown--group-config-menu {
    cursor: default;
}
