@include media-breakpoint-down(md) {
    .app_web_client:has(.app_selection_container) .app_navbar {
        opacity: 0.15;
    }
    .app_selection_container {
        position: fixed;
        top: 0;
        left: 0;
    }
}
.modal-footer .app_selection_box {
    margin-bottom: 0 !important;
}
