.app_tag_popover {
    max-width: 150px;
    min-width: 100px;
}

.app_tag_popover label {
    line-height: $o-line-height-base;
}

.app_field_widget.app_field_many2many_tags {
    flex-flow: row wrap;
    margin: var(--Tags-margin, 0);

    .app_tags_input {
        padding: 1px 0;
    }

    .app_field_many2many_selection {
        flex: 1 0 50px;

        .app_input {
            height: 100%;
            border: none;
        }
    }

    .badge {
        flex: 0 0 auto;
        display: flex;

        &.dropdown {
            cursor: pointer;
        }

        a {
            color: inherit;
        }

        .app_badge_text, .app_tag_badge_text {
            @include o-text-overflow(inline-block);
            max-width: var(--Tag-max-width, 200px);
        }
    }
}

.app_field_widget.app_field_many2many_tags, .app_field_widget.app_field_many2many_tags_avatar {
    .app_field_many2many_selection .app_input {
        --o-input-background-color: transparent;
    }
}

.app_list_view .app_field_widget.app_field_many2many_tags {
    .app_tags_input {
        border: 0;
        padding: 0;
    }

    .app_field_many2many_selection {
        flex-basis: 40px;
    }
}

.app_form_view {
    .app_group, .app_inner_group {
        .app_field_tags {
            width: 100%;
        }
    }

    &:not(.app_field_highlight) {
        .app_field_many2many_selection {
            .app_dropdown_button {
                visibility: hidden;
            }

            &:hover, &:focus-within {
                .app_dropdown_button {
                    visibility: visible;
                }
            }
        }
    }
}

.app_form_statusbar .app_field_tags {
    align-self: center;
}
