.app_field_many2one_avatar {
    img:hover {
        cursor: context-menu;
        outline: $border-width solid $o-action;
    }
}

.app_kanban_record  {
    @include media-breakpoint-up(sm) {
        .app_field_widget.app_field_many2one_avatar_user .app_quick_assign {
            visibility: hidden;
        }
        &:hover {
            .app_field_widget.app_field_many2one_avatar_user .app_quick_assign {
                visibility: visible;
            }
        }
    }
}

.app_m2o_tags_avatar_field_popover {
    z-index: $zindex-modal - 1;
    font-size: $dropdown-font-size;
    .app_field_many2one_selection {
        padding: 0.25rem;
        .app-autocomplete--dropdown-menu {
            width: 178px;
            font-size: $dropdown-font-size;
            .dropdown-item {
                padding: $app-dropdown-vpadding $app-dropdown-hpadding/2;
            }
        }
        .app-autocomplete--input {
            margin-bottom: .5rem;
            padding-bottom: 0.25rem;
        }
    }
}
