.app_field_widget.app_field_google_slide_viewer {
    width: 100%;
}
.app_field_widget.app_field_google_slide_viewer div.app_google_slide {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
}
.app_field_widget.app_field_google_slide_viewer iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
