// ------- Pivot renderer -------
.app_pivot table {
    width: var(--PivotView-width, auto);

    // Inform the user that he may click on a cell to be redirected to a list view of the
    // items corresponding to the clicked cell
    &.app_enable_linking .app_pivot_cell_value:not(.app_empty) {
        @include o-hover-text-color($body-color, $o-main-link-color);
    }

    .app_pivot_measure_row,
    .app_pivot_origin_row,
    .app_pivot_header_cell_closed,
    .app_pivot_header_cell_opened {
        @include o-hover-text-color($body-color, $headings-color);

        &:hover {
            background-color: map-get($grays, "200") !important;
        }
    }

    .app_pivot_cell_value.app_cell_hover {
        background-color: $table-hover-bg;
    }

    .app_pivot_cell_value {
        /*rtl:ignore*/
        text-align: right !important;
        /*rtl:ignore*/
        direction: ltr;
    }
}

.app_pivot_view {
    .app_cp_bottom_left {
        display: block;
    }

    @include media-only(print) {
        .bg-100, .text-bg-100 {
            --background-color: transparent;
        }
    }
}

// ------- Sample mode -------
.app_pivot_view .app_view_sample_data {
    overflow: hidden !important;
    .app_pivot {
        @include o-sample-data-disabled;
    }
}
