
.btn.app_field_translate {
    position: absolute;
    right: 5px;
    top: 5px;
    vertical-align: top;
    text-align: right;
    visibility: hidden;

    &, .app_web_client.app_touch_device & {
        padding: 0;
    }
}

.app_field_widget {
    &:hover,
    &:focus-within {
        .btn.app_field_translate {
            visibility: visible;
        }
    }

    input, textarea {
        &.app_field_translate, &.app_field_placeholder {
            padding-right: $o-field-translate-padding;
        }
        &.app_field_translate.app_field_placeholder {
            padding-right: $o-field-translate-padding * 2;
        }
    }
}
