.modal.app_technical_modal {
    .modal-content {
        .modal-body.app_act_window {
            padding: 0;

            @include media-breakpoint-down(md) {
                .app_action {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
            }
        }
    }
}
