.app_field_widget {
    .app_signature {
        outline: 1px solid rgba(map-get($theme-colors, 'secondary'), 0.3);
        position: relative;
        &.app_signature_empty {
            display: flex;
        }
        > p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.app_field_invalid {
    .app_signature {
        outline: 3px solid map-get($theme-colors, 'danger');
        cursor: pointer;
    }
}
.app_form_editable {
    .app_signature:hover {
        outline: 3px solid $o-enterprise-action-color;
        cursor: pointer;
    }
}
