@keyframes o-draggable-bounce {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

.app_draggable {
    -webkit-touch-callout: none; // for iOS
}

.app_dragged {
    z-index: 1000;
    pointer-events: none;
}

.app_touch_bounce {
    animation: o-draggable-bounce .4s forwards;
    user-select: none;
}
