/**
 * This file includes all the t-transition mixins.
 */

/*
  Fade in and out with t-transition
  Usage:
    scss: @include owl-fade(0.5s, 'app_notification')
    xml: <tag t-transition="app_notification_fade" />
 */
@mixin owl-fade($time, $name) {
  .#{$name}_fade {
    transition: all $time;
  }

  .#{$name}_fade-enter {
    opacity: 0;
  }
}
