
.app_time_picker_input {
    transition: all .1s ease-in-out;
    transition-property: color, background-color, border-bottom-color;
    color: $btn-color;

    &.app_invalid {
        color: o-text-color('danger');
        border-bottom-color: map-get($theme-colors, 'danger');
        background-color: $o-input-invalid-bg;
    }
}

.app_time_picker_dropdown.app-dropdown--menu {
    --dropdown-min-width: unset;
    max-height: 15rem;
}

.app_datetime_picker .app_time_picker {
    width: 4rem;

    input {
        text-align: center;
    }
}
