// Avatar
.app_avatar img,
.app_avatar .app_avatar_empty,
img.app_avatar {
    height: var(--Avatar-size, #{$o-avatar-size});
    aspect-ratio: 1;
    object-fit: cover;
}

.app_avatar_empty {
    background: $o-black;
    opacity: .1;
}