.app_progressbar {
    .app_progress {
        width: 100px;
        height: 15px;
        border: 1px solid $o-gray-300;
        background-color: $o-view-background-color;
    }

    .app_progressbar_value input {
        // Prevent the input to grow and deteriorate the visibility
        width: 45px;
        min-width: 45px;
        transition: width .2s;
    }
}

.app_form_view {
    .app_progressbar_value input {
        &:focus-within {
            // To improve the edition of the value, the
            // input grows to the full available width
            width: 100%;
        }
    }
}

.app_list_view .app_data_cell {
    .app_progressbar {
        // Force progress bars to respect table's layout
        display: table-row;
        justify-content: end;
        .app_rtl & {
            justify-content: flex-start;
            text-align: right;
        }
        .app_progressbar_value {
            span {
                min-width: 1.5rem;
            }
            span:last-child{
                text-align: left;
            }
        }
    }
}

.app_kanban_renderer {
    .app_progressbar:not(:hover):not(:focus-within) {
        input {
            border-color: transparent;
        }
    }
}
