.app_document_layout {
    display: flex;
    height: 100%;
    .app_content{
        height: inherit;
        .app_form_renderer {
            height: 100%;
            .app_group {
                display: flex;
                width: auto !important;
                .app_document_layout_company {
                    flex: 5;

                    img {
                        max-height: 100px;
                    }
                    .app_custom_colors {
                        .app-checkbox {
                            @include o-position-absolute(0, 0, 0, 0);
                            width: 100%;
                        }
                    }

                    select.app_input {
                        height: 25px;
                    }
                }
                .app_preview {
                    .preview_document_layout {
                        .app_preview_iframe {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .app_document_layout .app_group {
        flex-direction: column;
    }
}
