.app_field_widget {
    &.app_priority, & .app_priority {
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: baseline;
        white-space: nowrap;
        > .app_priority_star {
            display: inline-block;
            font-size: var(--Priority-font-size, 1.35em);
            &:hover, &:focus {
                text-decoration: none;
                outline: none;
            }

            + .app_priority_star {
                padding-left: 0.2em;
            }

            &.fa-star-o {
                color: $o-main-color-muted;
            }
            &.fa-star {
                color: $o-main-favorite-color;
            }
        }
    }
}
