.app_field_property_dropdown_menu {
    .app-autocomplete--dropdown-menu {
        max-height: 200px!important;
    }
}

// remove the down / up arrow for number input
input.app_field_property_input::-webkit-outer-spin-button,
input.app_field_property_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.app_field_property_input[type=number] {
    -moz-appearance: textfield;
}

.app_field_property_dropdown_empty {
    height: 25px;
}

.app_field_property_many2one_value {
    a.disabled {
        pointer-events: none;
        color: $gray-400;
        font-style: italic;
    }
}

.app_field_property_many2many_value {
    .app_delete {
        line-height: 1;
        margin-right: 5px;
    }
    .app_input_dropdown {
        width: 100px !important;
        min-width: 100px !important;
        input {
            border: 0px !important;
        }
    }
}

.app_field_property_many2many_value:not(.readonly):hover,
.app_field_property_many2many_value:not(.readonly):focus-within {
    border-bottom: 1px solid var(--o-input-border-color);
}

.app_field_property_many2many_value.avatar .app_tag{
    .app_tag_badge_text {
        padding: 0px !important;
    }
}

.app_property_field_value {
    .app_properties_external_button,
    .app_dropdown_button {
        display: none;
    }

    &:hover,
    &:focus-within {
        .app_properties_external_button,
        .app_dropdown_button {
            display: block;
        }
    }

    select:not(:hover) {
        background: none !important;
    }

    // Many2one and Many2many avatar
    .app_field_property_many2one_value img,
    .app_m2m_avatar {
        height: var(--Avatar-size, #{$o-avatar-size});
        aspect-ratio: 1;
    }
}
