.app_field_property_tag {
    .app_tag {
        margin: 1px 2px 1px 0;
    }
    .app_delete {
        margin-left: 3px;
        line-height: 1;
        &::before {
            line-height: 1.1;
        }
    }
    .app_badge_text {
        line-height: 1.1;
    }
    .app_input_dropdown {
        width: 100px !important;
        min-width: 100px !important;
        input {
            border: 0px !important;
        }
    }
    .app_field_property_dropdown_add {
        * {
            color: $primary !important;
        }
    }
}

.app_field_property_tag:not(.readonly):hover,
.app_field_property_tag:not(.readonly):focus-within {
    border-bottom: 1px solid var(--o-input-border-color);
}
