.app_field_properties {
    width: 100%;
    // be sure that the property field can take zero height
    // in case no property exists
    display: block;
    margin-bottom: 0 !important;
}

// The web client will add a "app_field_invalid" class when the field is considered
// as not valid (at least one empty label). In that case we want to have in red
// only the empty label, and not all inputs / components.
.app_field_properties,
.app_field_properties.app_field_invalid,
.app_property_field_popover {
    .app_input,
    .app_dropdown_button,
    .app_datepicker_button {
        @include print-variable(o-input-border-color, $o-form-lightsecondary);
        color: $o-main-text-color !important;
    }
    .app_dropdown_button,
    .app_datepicker_button {
        color: initial !important;
    }
    .app_input_dropdown {
        color: $o-main-text-color !important;
    }

    & {
        .app_input:focus,
        .dropdown:focus ~ .app_dropdown_button,
        .dropdown:focus-within ~ .app_dropdown_button,
        .app_input:focus ~ .app_datepicker_button,
        .app_dropdown_button:focus {
            @include print-variable(o-input-border-color, $o-action);
            * {
                @include print-variable(o-input-border-color, $o-action);
            }
        }
    }
    // only the empty property label should be affected by `o_field_invalid`
    .app_field_property_empty_label {
        color: map-get($theme-colors, 'danger');
    }
}

.app_property_field_highlight .app_field_property_empty_label,
.app_property_field_highlight {
    border: 1px solid $primary;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
}

.app_field_property_label {
    width: 180px;

    .fa-caret-down,
    .fa-caret-right {
        width: 8px;
    }
    .app_field_property_open_popover,
    .oi-draggable {
        cursor: pointer;
        font-size: 15px;
    }
    .app_field_property_open_popover:hover,
    .oi-draggable:hover {
        color: $primary;
    }
}

.app_field_property_add {
    // cancel button padding to align the
    // text button with properties labels
    margin-left: -1rem;
}

.app_property_folded {
    .app_field_property_label,
    .app_property_field_value {
        display: none !important;
    }
}

.app_property_field_popover {
    font-size: inherit;
    box-sizing: border-box;

    // fullscreen on small screen sizes
    @include media-breakpoint-down(md) {
        top: 0px !important;
        left: 0px !important;
        right: 0px;
        bottom: 0px;
        margin-top: 0px !important;
    }
}

.app_field_property_group_label {
    cursor: pointer;
    user-select: none;
    height: 20px;
    &:not(.folded) {
        box-shadow: 0 $border-width 0 $o-form-separator-color;
    }
}

.app_field_properties {
    .oi-draggable {
        cursor: url(/web/static/img/openhand.cur), grab;
    }
    @include media-breakpoint-down(sm) {
        .app_field_property_open_popover {
            opacity: 1;
            &.disabled {
                pointer-events: none;
            }
        }
    }
}

.app_property_dragging {
    // make the background transparent for "app_property_drag_group" effect
    input {
        background: transparent;
    }

    // disabled click interaction when dragging on those elements
    .app_field_property_open_popover,
    .app_field_property_label,
    input {
        pointer-events: none;
    }

    .app_property_drag_item {
        opacity: 0.7;
        transform: rotate(2deg);
    }

    .app_field_property_add {
        display: none;
    }
}

.app_field_properties div:not([columns="1"]) .app_property_drag_group {
    // highlight effect on the group is activated only in multi-columns
    box-sizing: border-box;
    background-color: #{tint-color($o-action, 90%)};
    border: 1px solid #{$o-action};
}
