// Heading element normally takes the full width of the parent,
// so the char_field wrapper should take the same width.
@include media-breakpoint-up(md) {
    .app_field_char {
        width: inherit;
    }
}

.app_field_widget:has(.app_input + .app_field_input_buttons) {
    position: relative;
}

.app_field_input_buttons {
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    visibility: hidden;

    .app_field_char & {
        align-items: center;
    }
    .app_field_text & {
        align-items: flex-start;
    }

    .btn.app_field_translate {
        position: relative;
        right: auto;
        top: auto;

        &:only-child {
            padding-right: 10px;
        }
    }
}

.app_field_widget:hover,
.app_field_widget:focus-within {
    .app_field_input_buttons {
        visibility: visible;
    }
}
