// ------- Graph renderer -------
.app_graph_view {
    --ControlPanel-border-bottom: none;

    .app_cp_bottom_left {
        display: block;
    }

    :not(.app-dashboard-action) > & .app_graph_canvas_container {
        min-height: 50vh;
    }
}

// ------- Sample mode -------
.app_graph_view .app_view_sample_data {
    .app_graph_canvas_container {
        @include o-sample-data-disabled;
    }
}
