.app_model_selector {
    .app-autocomplete--dropdown-menu {
        width: 25ch;
        max-height: 350px !important;
        .app-autocomplete--dropdown-item a {
            text-overflow: ellipsis;
            width: inherit;
        }
    }
}
