.app_field_radio {
    > span, > button {
        flex: 0 0 auto;
    }
    @include media-breakpoint-down(md) {
        display: inline-block;
    }
    .app_radio_input {
        outline: none;
    }

    .app_radio_item {
        flex: 0 0 auto;
    }

    .app_horizontal {
        display: inline-flex;
        flex-wrap: wrap;

        .app_radio_item {
            margin-right: $o-form-spacing-unit * 2;
        }
    }

    .app_vertical {
        flex-flow: column nowrap;
        .app_radio_item {
            margin-bottom: $o-form-spacing-unit;
        }
    }
}
