.app_field_res_user_group_ids_privilege {
    @mixin o-custom-checkbox($color) {
        $background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m6 10 3 3 6-6"/></svg>');
        border-color: $color;
        background-image: escape-svg($background) !important;
    }

    .app_is_disjoint:not(.app_is_implied) .app-checkbox > input {
        background-color: $danger;
        border-color: $danger;
    }
    .app_is_implied:not(.app_is_disjoint) .app-checkbox > input {
        @include o-custom-checkbox($form-check-input-checked-bg-color);
    }
    .app_is_implied.app_is_disjoint .app-checkbox > input {
        @include o-custom-checkbox($danger);
    }

    .app_group_info_button.fa-info-circle {
        opacity: 0.2;
        &:hover {
            opacity: 1;
        }
    }
}
