.app_field_widget.app_field_many2many_tags_avatar {
    $-text-spacing-v: $o-line-height-base * 1em;
    --img-text-gap-v: calc(var(--Avatar-size, #{$o-avatar-size}) - #{$-text-spacing-v});

    flex-flow: row wrap;
    margin-top: calc(var(--img-text-gap-v) * -0.5); // using transform conflicts with dropdown position

    .app_field_many2many_selection {
        flex: 1 0 50px;

        .app-autocomplete, .app_input {
            height: 100%;
        }

        .app_input {
            border: none;
        }
    }

    .dropdown-item-selected > a {
        font-weight: bold !important;
    }
}

.app_kanban_record, .app_activity_record  {
    @include media-breakpoint-up(sm) {
        .app_field_widget.app_field_many2many_tags_avatar .app_quick_assign {
            visibility: hidden;
        }
        &:hover {
            .app_field_widget.app_field_many2many_tags_avatar .app_quick_assign {
                visibility: visible;
            }
        }
    }
}

.app_list_view .app_field_widget.app_field_many2many_tags_avatar {
    --img-text-gap-v: 0;

    .app_field_many2many_selection {
        flex-basis: 40px;
    }
}
.app_m2m_tags_avatar_field_popover {
    z-index: $zindex-modal - 1;
    width: 280px;
    font-size: $dropdown-font-size;
    .app_input.app_tags_input {
        border: none;
    }
    .dropdown-menu {
        width: 275px;
    }
    .app-autocomplete--dropdown-menu {
        font-size: $dropdown-font-size;
        .dropdown-item {
            padding: $app-dropdown-vpadding $app-dropdown-hpadding/2;
        }
    }
    .app-autocomplete .app-autocomplete--input.app_input {
        border: 1px solid var(--o-input-border-color);
        border-width: 0 0 1px 0;
        margin-bottom: .5rem;
        padding-bottom: 0.25rem;
        background-color: var(--o-input-background-color, transparent);
    }
    &.app_field_widget.app_field_many2many_tags_avatar .app_field_many2many_selection .app-autocomplete {
        height: inherit;
    }
}
