.app_field_CopyClipboardURL, .app_field_CopyClipboardChar {
    > div {
        grid-template-columns: auto min-content;
        .app_clipboard_button {
            border: none;
        }
        > span:first-child, a {
            margin-left: 4px;
            margin-right: 4px;
            align-self: center;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.app_field_CopyClipboardURL, .app_field_CopyClipboardChar {
    &.app_readonly_modifier > div {
        border: 1px solid #e6e6e6;
        > span {
            padding-left: 4px;
        }
    }
}

body:not(.app_touch_device) .app_field_CopyClipboardURL, .app_field_CopyClipboardChar {
    &:not(.app_readonly_modifier) {
        &:not(:hover):not(:focus-within) button {
            opacity: 0 !important;
        }
    }
}
